<div class="ui container">
    <nav class="ui menu inverted teal huge">
        <a routerLink="overview" class="item">Overview</a>
        <a routerLink="home" class="item">Account Balances</a>
        
        <nav class="menu right">
            <a class="bottom attached fluid primary" (click)="signup()" class="item">Signup</a>
            <a (click)="myPopup.show($event, {position: 'right center'})" *ngIf="!isLogged" class="item">Login</a>
            <a (click)="logout()" *ngIf="isLogged" class="item inverted red">Logout</a>
        </nav>
    </nav>
    
    <sm-popup class="huge" #myPopup>
        <sm-card class="card basic">
            <card-title> Simple login </card-title>
            <card-subtitle>  </card-subtitle>
            <card-content>
                <p><b>Password</b>: angualr2express</p>
                <p><b>Username</b>: john</p>
            </card-content>
            
            <sm-button class="bottom attached fluid primary" *ngIf="!isLogged" (click)="login()">Login</sm-button>
            <sm-button class="bottom attached fluid red" *ngIf="isLogged" (click)="logout()">Logout</sm-button>
        </sm-card>
    </sm-popup>
        
    <hello [name]="appName"></hello>
    
    <div class="ui divider"></div>
    
    <div class="ui container">
        <router-outlet></router-outlet>
    </div>
    
</div>