<div class="ui card">
	<div class="content">
		<div class="header">Add New Item</div>
	</div>
</div>

<div class="ui form">
	<div class="fields">

		<div class="field">
			<div class="ui labeled input">
				<div class="ui label basic">Date:</div>
				<input type="date" [(ngModel)]="balanceItem.date">
			</div>
		</div>

		<div class="field">
			<div class="ui right labeled input">
				<div class="ui basic label">Checking Balance: $</div>
				<input type="number" placeholder="Amount" [(ngModel)]="balanceItem.checking">
				<div class="ui basic label">.00</div>
			</div>
		</div>

		<div class="field">
			<div class="ui right labeled input">
				<div class="ui basic label">Savings Balance: $</div>
				<input type="number" placeholder="Amount" [(ngModel)]="balanceItem.savings">
				<div class="ui basic label">.00</div>
			</div>
		</div>
	</div>

	<div class="fields">
		<div class="field">
			<div class="ui right labeled input">
				<div class="ui basic label">Paycheck Ammount: $</div>
				<input type="number" placeholder="Amount" [(ngModel)]="balanceItem.paycheck">
				<div class="ui basic label">.00</div>
			</div>
		</div>

		<div class="field">
			<div class="ui right labeled input">
				<div class="ui basic label">Credit Card Balance: $</div>
				<input type="number" placeholder="Amount" [(ngModel)]="balanceItem.credit">
				<div class="ui basic label">.00</div>
			</div>
		</div>

		<div>
			<button class="ui button positive right floated" (click)="addBalanceItem()">
				<i class="add circle icon"></i> Add Entry 
			</button>
		</div>
	</div>
</div>

<div class="ui modal" [ngClass]="{'active': isModalActive}">
	<div class="header">Balance for: {{modalBalanceItem.date | date}}</div>
	<div class="content">

		<!--form inside of the modal-->
		<div class="ui form">
			<div class="fields">

				<div class="field">
					<div class="ui right labeled input">
						<div class="ui basic label">Checking Balance: $</div>
						<input type="number" placeholder="Amount" [(ngModel)]="modalBalanceItem.checking">
						<div class="ui basic label">.00</div>
					</div>
				</div>

				<div class="field">
					<div class="ui right labeled input">
						<div class="ui basic label">Savings Balance: $</div>
						<input type="number" placeholder="Amount" [(ngModel)]="modalBalanceItem.savings">
						<div class="ui basic label">.00</div>
					</div>
				</div>
			</div>

			<div class="fields">
				<div class="field">
					<div class="ui right labeled input">
						<div class="ui basic label">Paycheck Ammount: $</div>
						<input type="number" placeholder="Amount" [(ngModel)]="modalBalanceItem.paycheck">
						<div class="ui basic label">.00</div>
					</div>
				</div>

				<div class="field">
					<div class="ui right labeled input">
						<div class="ui basic label">Credit Card Balance: $</div>
						<input type="number" placeholder="Amount" [(ngModel)]="modalBalanceItem.credit">
						<div class="ui basic label">.00</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui blue button" (click)='updateBalanceItem()'>Approve</div>
		<div class="ui red button" (click)='hideModal()'>Cancel</div>
	</div>
</div>

<div class="ui divider"></div>

<div class="ui card">
	<div class="content">
		<div class="header">Financial Balance Sheet</div>
	</div>
</div>

<div>
	<table class="ui compact selectable striped celled table">
		<thead>
			<tr>
				<th>#</th>
				<th>Date</th>
				<th>Checking</th>
				<th>Savings</th>
				<th>Paycheck</th>
				<th>Credit</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of balanceTable; let i = index">
				<td>{{i+1}}</td>
				<td>{{row.date | date}}</td>

				<td [ngSwitch]="getCheckingLayout(row.checking)">
					<div *ngSwitchCase="'positive'">
						{{row.checking | currency:'USD':true:'1.2-2'}}
						<i class="large green money icon"></i>
					</div>
					<div *ngSwitchCase="'warning'">
						{{row.checking | currency:'USD':true:'1.2-2'}}
						<i class="large red warning circle icon"></i>
					</div>
					<div *ngSwitchDefault>
						{{row.checking | currency:'USD':true:'1.2-2'}}
					</div>
				</td>

				<td [ngSwitch]="getSavingsLayout(row.savings)">
					<div *ngSwitchCase="'positive'">
						{{row.savings | currency:'USD':true:'1.2-2'}}
						<i class="large green money icon"></i>
					</div>
					<div *ngSwitchCase="'warning'">
						{{row.savings | currency:'USD':true:'1.2-2'}}
						<i class="large red warning circle icon"></i>
					</div>
					<div *ngSwitchDefault>
						{{row.savings | currency:'USD':true:'1.2-2'}}
					</div>
				</td>

				<td [ngSwitch]="getPaycheckLayout(row.paycheck)">
					<div *ngSwitchCase="'positive'">
						{{row.paycheck | currency:'USD':true:'1.2-2'}}
						<i class="large green money icon"></i>
					</div>
					<div *ngSwitchCase="'warning'">
						{{row.paycheck | currency:'USD':true:'1.2-2'}}
						<i class="large red warning circle icon"></i>
					</div>
					<div *ngSwitchDefault>
						{{row.paycheck | currency:'USD':true:'1.2-2'}}
					</div>
				</td>

				<td [ngSwitch]="getCreditLayout(row.credit)">
					<div *ngSwitchCase="'positive'">
						{{row.credit | currency:'USD':true:'1.2-2'}}
						<i class="large green money icon"></i>
					</div>
					<div *ngSwitchCase="'warning'">
						{{row.credit | currency:'USD':true:'1.2-2'}}
						<i class="large red warning circle icon"></i>
					</div>
					<div *ngSwitchDefault>
						{{row.credit | currency:'USD':true:'1.2-2'}}
					</div>
				</td>

				<td>
					<button class="ui button basic blue small" (click)="showModal(i)">
						<i class="edit icon"></i> Edit
					</button>
				</td>

				<td>
					<button class="ui button basic red small" (click)="removeBalanceItem(i)">
						<i class="remove icon"></i> Remove 
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<br/>

